@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

:root {
    --bg: hsl(0 0% 5%);
    --white: hsl(0 0% 90%);
    --accent: hsl(0 0% 10%);
    --highlight: #03dac6;
    --swiper-navigation-color: #fff;
    --swiper-navigation-size: 1.1em;
}

* {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    background: var(--bg);
    user-select: none;
}

.wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.swiper-slide {
    position: relative;
    width: 33%;
    aspect-ratio: 3/4;
    cursor: pointer;
    border-radius: 10px;
}

.swiper-slide .swiper-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
}

.swiper-slide .swiper-description {
    position: absolute;
    bottom: 0;
    padding: 0.5em;
    color: var(--white);
    transform: translateY(100vh);
    transition: transform 0.3s ease;
}

.swiper-slide .swiper-description h2 {
    font-size: 1.5rem;
}

.swiper-slide .swiper-description p {
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

.swiper-slide:hover .swiper-overlay {
    opacity: 0.5;
}

.swiper-slide:hover .swiper-description {
    transform: translateY(0);
}

.swiper-button-prev,
.swiper-button-next {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    padding: 1em;
    width: 0.5em;
    height: 0.5em;
}

.swiper-button-next::after {
    margin-left: 0.2em;
}

.swiper-slide:not(.swiper-slide-visible) {
    opacity: 0;
}